jupyterlab
jupyterlab-lsp
jupyterlab-git
python-lsp-server[all]
scikit-learn
pandas
seaborn
matplotlib
imbalanced-learn
plotly
nbformat
statsmodels
tensorflow
apache-beam[interactive]
CurrencyConverter
iPython
imblearn
